---
// eslint-disable-next-line import/no-unresolved
import { getCollection } from 'astro:content';
import Layout from '../../layout/Layout.astro';
import { type Post } from './Post';
import BreadCrumbs from '../BreadCrumbs';
import PostTitle from './PostTitle';

// eslint-disable-next-line import/prefer-default-export
export async function getStaticPaths () {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

const post = Astro.props as unknown as Post;

const { Content } = await post.render();
---

    <Layout title={`${post.data.title} | Blog`}>
        <BreadCrumbs breadCrumbs={[
            {
                name: post.data.title,
                href: `/blog/${post.slug}`,
            },
        ]}
        />
        <div class="max-w-4xl mx-auto p-8">
            <PostTitle post={post} />
            <div class="prose prose-xl max-w-none">
                <Content />
            </div>
        </div>
    </Layout>
