---
import MainNav from './MainNav';
import Footer from './Footer';
import './custom.css';

let { title } = Astro.props;

if (title) {
    title = `${title} | TJDraper.com`;
} else {
    title = 'TJDraper.com';
}

// @ts-expect-error typscript complains about `process` being undefiend here
const noIndex = process.env.NOINDEX === '1';
---

    <html lang="en">
        <head>
            {() => {
                if (!noIndex) {
                    return null;
                }

                return (
                    <meta name="robots" content="noindex,nofollow" />
                );
            }}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width,initial-scale=1" />
            <title>{title}</title>
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
            <link
                rel="alternate"
                type="application/rss+xml"
                title="TJ Writes Software Rss Feed"
                href="/blog/feed.xml"
            />
            <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
            <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
            <meta property="og:image" content="/share.png" />
        </head>
        <body>
            <main>
                <MainNav client:load currentUrlPath={Astro.url.pathname} />
                <div style="min-height: calc(100vh - 120px)">
                    <slot />
                </div>
                <Footer />
            </main>
        </body>
    </html>
